/* styles used for both log in - sign up */
body {
    /* đặt size */
    min-height: 100vh;

    /* Set the background image */
    background-image: url(../assets/images/straw_background.jpg);

    /* Set full màn hình */
    background-size: cover;

    /* Căn giữa cái background */
    background-position: center;

    /* Chặn việc repeat của background */
    background-repeat: no-repeat;

    /* Fix cái background image */
    background-attachment: fixed;

    /*Set content ra giữa màn hình*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* phần chung của cả 2 box */
.box {
    background-color: rgba(238, 161, 205, 0.901);
    display: flex;
    justify-content: center;
    padding: 3%;
    border-radius: 15px;
}

/* Kích cỡ của box log in */
.signIn {
    /* Set box vào giữa*/
    width: 65%;
    height: 55%;
}

/* des phần signIn poster */
.signPoster
{
    flex: 4;
}

/* des phần chứa form */
.signInForm
{
    flex: 6;
    padding-left: 10%;
}

.header {
    font-size: 50px;
    font-weight: 700;
}

.toOther
{
    font-size: 15px;
    font-weight: 500;
    color: black;
    padding: 2% 0%;
}
.toOther a
{
    font-weight: 700;
    text-decoration: underline;    
}


/* design phần input */
.signInForm input[type="text"] {
    /* màu nền */
    background-color: rgba(255, 255, 255, 0.877);

    /* set font và căn lề cho chữ trong input */
    font-size: 20px;
    padding: 1% 4%;
    margin: 2% 0%;
    font-weight: 500;

    /* kích cỡ và căn lề của ô input */
    width: 95%;
    border-radius: 25px;

    /* ẩn border */
    border-style: hidden;
}

/* design phần submit */
.signInForm input[type="submit"] {
    text-align: center;
    /* tạo kích cỡ */
    width: 95%;
    /* tạo margin */
    margin: 5% 0%;
    /* màu nền */
    background-color: rgba(235, 101, 177, 0.81);

    /* ẩn border và bo cái góc lại */
    border-style: hidden;
    border-radius: 35px;

    /* căn lề */
    padding: 2%;

    /* chữ */
    color: white;
    font-size: 35px;
    font-weight: 500;
}


.otherOption
{
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

